<ion-content>
  <div class="background">
    <div class="title">
      <h2>Paciente</h2>
      <img src="../../../assets/icon/Group 86.svg" alt="">
    </div>
    <div class="busca">
      <ion-searchbar></ion-searchbar>
    </div>
    <ion-scroll scrollX="true">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Maria S. Diniz</ion-card-title>
              <ion-card-subtitle>Unidade - Centro</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              <a href="#">Ver perfil</a>
            </ion-card-content>
          </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Maria S. Diniz</ion-card-title>
            <ion-card-subtitle>Unidade - Centro</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <a href="#">Ver perfil</a>
          </ion-card-content>
        </ion-card>
    </ion-scroll>
  </div>
</ion-content>
