<ion-content>
  <div class="background">
      <ion-title color="secondary">Loja</ion-title>
      <div class="aling-icons">
        <div class="aling">
          <img slot="start" src="../../../assets/icon/moeda.svg">
          <p>120</p>
        </div>
      </div>
      <p>Compre ítens para o seu personagem!</p>
      <div class="aling">
        <canvas id="paintboard" width="800" height="600"> lol get a real browser </canvas>
      </div>
  </div>
  <ion-content class="dress-menu">
    <div class="aling-all-components">
      <span>
        <input type="radio" name="skin" id="lightskin" value="light">
          <label for="light"><span class="light"><span></span></span></label>
        <input type="radio" name="skin" id="midskin" value="middle" checked>
          <label for="middle"><span class="mid"><span></span></span></label>
        <input type="radio" name="skin" id="medskin" value="medium">
          <label for="medium"><span class="med"><span></span></span></label>
        <input type="radio" name="skin" id="darkskin" value="dark">
          <label for="dark"><span class="dark"><span></span></span></label>
      </span>   
    </div>
  </ion-content>
</ion-content>

