<ion-content>
  <div class="backgroud">
    <div class="central-image">
      <img src="../../assets/Abacate-relax.png" alt="">
    </div>
    <div class="form-login">
        <h2>Login</h2>
        <ion-input placeholder="digite seu CRM"></ion-input>
        <ion-input placeholder="digite sua senha"></ion-input>
    </div>
    <div class="text-register">
      <p>Não possui cadastro?<a href="">Cadastre-se!</a></p>
    </div>
    <div class="login">
      <ion-button size="large" expand="full" color="secondary">Entrar</ion-button>
    </div>
  </div>
</ion-content>
