.background{
    background-size: 100%;
    background-image: url('../../../assets/backgrounds/backgroud-desafio.png');
    background-repeat: no-repeat;
}

.aling{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.aling-all-components{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.aling-icons{
    display: flex;
    align-items: center;
}

.aling p{
    color: white;
    margin: 10;
    background-color: #D0837E;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Bungee', cursive;
    border-radius: 15px;
}

.image-pet{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.align-progress{
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

ion-progress-bar{
    height: 20px;
    border-radius: 40px;
}

.data-progress p{
    color: #FF9995;
}

.data-progress{
    display: flex;
    justify-content: center;
}

ion-button{
    border-radius: 35%;
}

.startExercice{
    --border-radius: 24px;
    display: flex;
    justify-content: center;
}

.text-exercice{
    margin: 30px;
}

h2{
    text-align: center;
    color: white;
}

.text-exercice p{
    color: #A19D9D;
}

ion-row{
    padding: 25px;
}

.menu{
    display: flex;
}

ion-card-title{
    font-size: 16px;
    --color: #AE78F2;
    font-style: semibold;
}

.menu img{
    width: 60px;
}

ion-card-content{
    background: #FFD6D4;
    width: 30%;
    justify-content: center;
    display: flex;
}


.doctor{
    padding: 13px;
}

ion-card-header{
    display: flex;
    align-items: center;
}

ion-card{
    margin-left: 30.5px;
    margin-right: 30.5px;
}