<ion-content>
    <div class="background">
      <ion-row>
        <ion-col>
          <img class="doctor" src="../../../assets/image/doctor.png" alt="">
        </ion-col>
        <ion-col>
        <div>
          <h2>Dr. Carolina P. </h2>
          <h4>Fisioterapeuta</h4>
        </div>
        </ion-col>
      </ion-row>
      <ion-card routerLink="paciente">
        <div class="menu">
        <ion-card-content>
          <img src="../../../assets/moove-pet/Group 126.png" alt="">
        </ion-card-content>
        <ion-card-header>
          <ion-card-title>Meus pacientes</ion-card-title>
        </ion-card-header>
      </div>
      </ion-card>
      <ion-card routerLink="/paciente">
        <div class="menu">
        <ion-card-content>
          <img src="../../../assets/moove-pet/Group 127.png" alt="">
        </ion-card-content>
        <ion-card-header>
          <ion-card-title>Planos de atividades</ion-card-title>
        </ion-card-header>
      </div>
      </ion-card>
      <ion-card routerLink="paciente">
        <div class="menu">
        <ion-card-content>
          <img src="../../../assets/moove-pet/Group 128.png" alt="">
        </ion-card-content>
        <ion-card-header>
          <ion-card-title>Criar novas atividades</ion-card-title>
        </ion-card-header>
      </div>
      </ion-card>
  </div> 
</ion-content>
