.text-exercices-prin{
    padding-left: 10px;
}

.text-exercices-prin p{
    padding-left: 20px;
    margin-right: 125px;;
    margin-top: 5px;
    margin-bottom: 50px;
}

ion-card-title{
    font-size: 14px;
}

ion-card-content{
    display: flex;
    justify-content: center;
}

ion-card-header{
    text-align: center;
}

.background{
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 40px;
}