.background{
    background-size: 100%;
    background-image: url('../../assets/backgrounds/ondinha-roxa.svg');
    background-repeat: no-repeat;
    padding: 15px;
}
.text-exercices-prin{
    padding-left: 10px;
}

.text-exercices-prin p{
    padding-left: 20px;
    margin-right: 125px;;
    margin-top: 5px;
    margin-bottom: 50px;
}

ion-card-title{
    font-size: 14px;
}

ion-card-content{
    display: flex;
    justify-content: center;
}

ion-card-header{
    text-align: center;
}

.subtitle, ion-title{
    color: #fff;
    text-align: center;
}

.position-list{
    margin-top: 5em;
}

ion-card-title{
    color: #A19D9D;
}