<ion-content [fullscreen]="true">

<div class="background">
    <ion-buttons slot="start">
      <ion-button routerLink="/welcome" routerDirection="forward">
        <ion-icon src="../../assets/icon/previos.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-title>
        Meus exercícios
      </ion-title>
      <p class="subtitle">complete seus exercícios para aumentar seu ranking!</p>
  <div class="position-list">
    <ion-row>
      <ion-col>
        <ion-card routerLink="/welcome">
          <ion-card-content>
            <img src="../../assets/image/abacate4.svg" alt="">
          </ion-card-content>
          <ion-card-header>
            <ion-card-title>agachar</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <img src="../../assets/image/abacate3.svg" alt="">
          </ion-card-content>
          <ion-card-header>
            <ion-card-title>erguer braços</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card routerLink="start-exercice" routerDirection="forward">
          <ion-card-content>
            <img src="../../assets/image/abacate1.svg" alt="">
          </ion-card-content>
          <ion-card-header>
            <ion-card-title>corrida leve</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="start-exercice">
          <ion-card-content>
            <img src="../../assets/image/abacate2.svg" alt="">
          </ion-card-content>
          <ion-card-header>
            <ion-card-title>estique-se</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</div>
</ion-content>
