<ion-toolbar [translucent]="true">
    <ion-title color="secondary">Configurações</ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label style="font-family: 'Poppins', sans-serif;" position="stacked" color="secondary">E-mail</ion-label>
    <ion-input placeholder="maria.andrade@hotmail.com" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-row>
      <ion-col id="pss">
        <ion-label style="font-family: 'Poppins', sans-serif;" position="stacked" color="secondary">Senha</ion-label>
        <ion-input class="password" placeholder="*******" type="password"></ion-input>
      </ion-col>
      <ion-col class="changePassword">
        <ion-button color="secondary">editar senha</ion-button>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item>
    <ion-label style="font-family: 'Poppins', sans-serif;" position="stacked" color="secondary">CPF</ion-label>
    <ion-input placeholder="851.987.988-88" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label style="font-family: 'Poppins', sans-serif;" position="stacked" color="secondary">Convênio</ion-label>
    <ion-input placeholder="Unimed" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label style="font-family: 'Poppins', sans-serif;" position="stacked" color="secondary">Meus fisioterapeutas</ion-label>
    <ion-input placeholder="851.987.988-88" type="text"></ion-input>
  </ion-item>


      <ion-scroll scrollX="true">
        <ion-row>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Dra Ana Luiza </ion-card-title>
                <ion-card-subtitle>Fisioterapeuta</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                Contato: (55) 9887-4854
              </ion-card-content>
            </ion-card>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Contato: (55) 9887-4854
            </ion-card-content>
          </ion-card>
        </ion-row>
      </ion-scroll>
</ion-content>
