.background{
    background-size: 100%;
    background-image: url('../../../assets/icon/Group89.svg');
    background-repeat: no-repeat;
    padding: 25px;
    padding-bottom: 0 ;
}

.aling-all-components{
    display: flex;
    color: white;
}

.aling-all-components img{
    width: 30px;
    margin-right: 50px;
}

.aling-icons{
    display: flex;
    align-items: center;
}

.aling p{
    color: white;
    margin: 10;
    background-color: #D0837E;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Bungee', cursive;
    border-radius: 15px;
}

img{
    width: 35%;
}

.image-pet{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.align-progress{
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

ion-progress-bar{
    height: 20px;
    border-radius: 40px;
}

.data-progress p{
    color: #FF9995;
}

.data-progress{
    display: flex;
    justify-content: center;
}

ion-button{
    border-radius: 35%;
}

.startExercice{
    --border-radius: 24px;
    display: flex;
    justify-content: center;
}

.text-exercice{
    margin-bottom: 30px;
}

.text-exercice h2{
    text-align: center;
    color: #ae78f2;
}

.text-exercice li{
    margin: 28px;
    color: #A19D9D;
}

p{
    font-size: 14px;
}

footer{
    background-image: url('../../../assets/backgrounds/footer-back.png');
    padding: 30px;
    color: white;
    text-align: center;
    font-size: 14px;
}

li::before {content: counter(li); color: #ae78f2;
    display: inline-block; width: 1em;
    margin-left: -1em}

    li {counter-increment: li}
    ol {list-style: none; counter-reset: li; padding-left: 0;}