<ion-content>
  <div class="background">
    <div class="aling-all-components">
        <img slot="start" src="../../../assets/icon/previos.svg">
        <h5>Precisa de ajuda?</h5>
    </div>

  <div size="4" class="image-pet">
    <img src="../../../assets/image/abacate2.svg" alt="">
  </div>
  <div class="text-exercice">
    <ol>
      <li>Fique em pé, junte as mãos e estenda-as para além da sua cabeça enquanto inspira; </li>
      <li>Incline o corpo para a direita a partir da cintura.</li>
      <li>Inspire e expire contando até  5, em seguida, repita o movimento do outro lado.</li>
    </ol>
  </div>
</div>
<footer>
  <P>Não se preocupe com a intensidade, você vai conseguir ir cada vez mais longe!</P>
</footer>
</ion-content>

