<ion-content>
  <div class="background">
    <div class="aling-all-components">
    <div class="aling">
        <ion-icon slot="start" src="../../../assets/icon/moedas.svg"></ion-icon>
        <p>120</p>
    </div>
    <div class="aling">
      <ion-icon slot="start" src="../../../assets/icon/lojinha.svg"></ion-icon>
      <p>loja</p>
    </div>
    <div class="aling">
      <ion-icon slot="start" src="../../../assets/icon/Trofeu.svg"></ion-icon>
      <p>8ª</p>
    </div>
  </div>

  <div class="image-pet">
    <img src="../../../assets/image/abacate1.svg" alt="">
  </div>
  <div class="align-progress">
    <ion-progress-bar color="tertiary" value="0.4"></ion-progress-bar>
  </div>
  <div class="data-progress">
    <p coloor="tertiary">123 / 240 XP</p>
  </div>

  <div class="text-exercice">
    <h2>Estique-se</h2>
    <p>Estique-se é um exercício voltado para o aumento da flexibilidade muscular, promovendo o estiramento das fibras musculares.</p>
  </div>
  <ion-button class="startExercice" size="large" color="secondary" routerLink="../moment-exercice">Começar</ion-button>
</div>
</ion-content>

